border-1px($color)
  position: relative
  &::after,&:before
    width: 100%;
    display: block
    position: absolute
    border-top: 1px solid $color
    content: ' '
  &::after
    bottom: 0
    left: 0
  &::before
    top: 0
    left: 0

bg-image($url)
  background-image url($url + '@2x.png')
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image url($url + '@3x.png')
