
/*Default style:*/
a {
    color: #6c6c6c;
}
a:hover {
    color: #f40;
}

.cover {
    width:100%;
    background-color: #f5f5f5;
}
.site-nav {
    width:1190px;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}
.site-nav a {
    color: #6c6c6c;
    line-height:35px;
}
.site-nav a:hover {
    color: #f40;
}
.left-site-nav {
    float: left;
}
.left-site-nav li {
    float: left;
}
 .login-register {
    padding: 0 6px;
}
.login {
    margin-right:7px;
}
.login a {
    color: #f22e00 !important;
}
.mobile-entrance {
    padding: 0 7px;
}

/*right-site-nav*/
.right-site-nav {
    float: right;
}
.right-site-nav li {
    float: left;
    padding: 0 6px;
    position: relative;
}
.right-site-nav li.no-dropdown:hover {
    padding: 0 6px;
    border: 0;
    background-color: #f5f5f5;
}
.right-site-nav li:hover {
    padding: 0 5px; /*when hovered,minus padding 1px.*/
    background-color: white;
    border-width: 0 1px;
    border-style: solid;
    border-color: #eee;
}
.right-site-nav a {
    float: left;
    display: block;
    margin-right:5px;
}
li.site-nav-pipe:hover {
    padding: 0 6px;
    background-color: transparent;
    border: none;
}
.site-nav-pipe {
    line-height:35px;
    margin-right:-5px;
    padding: 0 5px;
    color: #ddd;
}
.site-nav-arrow {
    width:12px;
    height:6px;
    line-height:35px;
}
.site-nav-icon-highlight {
    /*color: #f40;*/
}
.right-site-nav li:hover .dropdown {
    display: block;
}
.dropdown {
    display: none;
    background-color: white;
    position: absolute;
    top:100%;
    left:-1px;  /*Handle with the border???Not perfect!!!*/
    padding: 5px 0;
    border: 1px solid #eee;
    z-index:10001;
    /*Z-index只可比较同级元素。这也许是大家很容易忽视的问题，也就是说，Z-index只能对同级元素进行分层展示；
    The structure of my page is differ from the origin.So I did not make it.
    I do not want to change my structure,so I will try other way later.*/
    margin-top:-1px;
}
.dropdown a {
    line-height:28px;
    display: block;
    margin: 0;
    padding: 0 5px;
    float: none;
    white-space: nowrap;    /*perfect effect*/
}
.dropdown a:hover {
    color: #6c6c6c;
    background-color: #f5f5f5;
}

/*top*/
.top {
    padding: 30px 0 34px 0;
    background-color: white;
    height: 100px;
}
.top-wrapper {
    width:1190px;
    margin: 0 auto;
    position: relative;
}
.logo {
    float: left;
}
.logo a {
    text-indent: -999em;
    display: block;
    width:142px;
    height: 0;
    margin: 8px 0 0 22px;
    /*Find a question:why the origin use one negative and two positive margin-top in the outer mark?
    I just calculate the outcome and set it to 8px . And get the similar effct*/
    padding-top: 58px;
    background-image: url(../img/taobao-logo.jpg);
}
.search-box {
    margin: 0 300px 0 265px;
    position: relative;
}
.search-tabs {
    height:25px;
}
.search-tabs ul li {
    color: #f40;
    width:50px;
    height:25px;
    line-height:25px;
    text-align: center;
    float: left;
    cursor: pointer;
}
.search-tabs ul li:hover {
    background-color: #f6e6e6;
    color: #c60000;
}
.search-tabs ul li.active-tab {
    color: #fff;
    background-color: #ff5400;
    font-weight:700;
}
.search-tabs ul li.active-tab.tmall-search-tab {
    background-color: #c40000;
}
.search-field {
    background-color: #f50;
    position: relative;
}
.search-field i.tb-icon {
    position: absolute;
    top:14px;
    left:15px;
    color: #ccc;
    z-index:2;
}
.search-placeholder {
    position: absolute;
    top: 11px;
    left: 32px;
    color: #9C9C9C;
    z-index:2;
}
.search-placeholder-tmall {
    display: none;
}
.search-input-wrapper {
    width:500px;
    height:34px;
    padding: 3px 0 3px 3px;
    vertical-align: middle;
    position: relative;
}
#search-input {
    width:500px;
    height:22px;
    line-height:22px;
    padding: 6px 0;
    text-indent:10px;
    border: 0;
}
.image-search {
    width:24px;
    height:20px;
    position: absolute;
    top: 7px;
    right:130px;
    z-index:3;
}
.image-search .tb-icon {
    font-size: 19px;
}
.image-search:hover .tb-icon {
    color: #f50;
}
.search-image-upload {
    position: absolute;
    top:0;
    left:0;
}
.file-input-wrapper label {
    position: absolute;
    left:-999em;
    /*ARIA.In order to help the screen reader.*/
}
#img-upload {
    width:100%;
    height:100%;
    opacity: 0.01;
}
.search-button {
    position: absolute;
    top: 0;
    right:0;
    width:122px;
    height:40px;
}
.search-button button {
    width:100%;
    height:100%;
    background-color: #f50;
    font-size: 18px;
    font-weight:700;
    color: #fff;
    border: none;
}
.search-button button.tmall-search {
    background-color: #c40000 !important;
}
.search-button button:hover {
    background-color: #f52b00;
}
.advanced-search a {
    display: block;
    width:24px;
    height:32px;
    position: absolute;
    top: 26px;
    right:-34px;
}
.search-advice {
    height:18px;
    line-height:18px;
    margin-bottom:8px;
    padding: 5px 41px 0 0;
}
.search-advice li {
    float: left;
    margin-right: 8px;
}
.search-advice li.advice-more {
    position: absolute;
    right:-5px; /*offset the margin-fight of .tb-icon.*/
    margin-right:0;
}
.search-advice a {
    color: #666;
}
.search-advice a:hover {
    color: #f40;
}
.search-advice li.advice-highlight a {
    color: #f40;
}

.qr {
    background-color: white;
    position: absolute;
    top: 0;
    right:0;
}
.close {
    text-align: center;
    cursor: pointer;
    background-color: white;
    position: absolute;
    top: 0;
    left:-19px;
    width:18px;
    height:18px;
    border: 1px solid #eee;
}
.close .tb-icon {
    margin: 0;
}
.qr-block {
    width:96px;
    height:114px;
    border: 1px solid #eee;
}
.qr-block a {
    display: block;
    width:100%;
    height:100%;
    text-align: center;
}
.qr-block span {
    color: #f40;
    cursor: pointer;
    line-height:20px;
}.qr-block img {
     width:80px;
 }


@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#../font/iconfont') format('svg');
}