.cover {
    width:100%;
    background-color: #f5f5f5;
}
.site-nav {
    width:1190px;
    margin: 0 auto;
}
.site-nav a {
    line-height:36px;
}
.left-site-nav {
    float: left;
}
.left-site-nav li {
    float: left;
    margin-right:5px;
}
.right-site-nav {
    float: right;
}
.right-site-nav li {
    float: right;
    margin-right:5px;
}