.main-screen-wrapper {
    width:100%;
    background-color: #f5f5f5;
}
.main-screen {
    width:1190px;
    margin: 0 auto;
}

.main-left {
    float: left;
    margin-top:-34px;
}
.main-site-nav {
    margin-bottom:11px;
    height:34px;
}
.main-site-nav ul {
    height:30px;
    font-weight:700;
    font-size: 14px;
    line-height:28px;
    color: #3C3C3C;
    float: left;
    margin-top:4px;
}
.main-site-nav ul.main-site-nav-highlight {
    font-size: 16px;
    color: #f40;
}
.main-site-nav ul.main-site-nav-highlight li {
    margin: 0 3px;
    padding: 0 4px;
}
.main-site-nav li:hover {
    background-color: #f40;
    border-radius: 13px;
    color: #fff;
}
.main-site-nav li {
    float: left;
    margin-left: 7px;
}
.main-site-nav ul li.main-site-nav-pipe {
    background-color: transparent;
    color: #ddd;
    line-height:27px;
    font-weight:normal;
    padding: 0;
    margin-left:6px;
}
.main-site-nav li a {
    color: inherit;
    display: block;
    padding: 0 5px;
}
.goods-nav {
    width:190px;
    position: relative;
    background-color: #ff6537;
    color: #fff;
}
.goods-nav-title {
    height:33px;
    line-height:33px;
    font-weight:700;
    font-size:14px;
    padding-left:10px;
}
.goods-nav-title a {
    color: #fff;
}
.goods-nav-title i.tb-icon {
    color: #fff;
    font-weight:normal;
    position: absolute;
    top:0;
    right:8px;
}
.goods-nav ul {
    height:482px;
    position: relative;
}
.goods-nav li {
    width:170px;
    height:30px;
    line-height:30px;
    padding: 0 10px;
    transition: background-color .2s;
}
.goods-nav li:hover {
    background-color: #f94a14;
}
.goods-nav li:hover .service-arrow,.goods-nav li:hover>.tb-icon {
    color: #fff;
}
.goods-nav .tb-icon {
    font-size: 18px;
    color: #ff905b;
    margin-right:0;
    display: inline-block;
}
.goods-nav .tb-tag {
    display: inline-block;
    width:134px;
    height:27px;
    line-height:27px;
    vertical-align: top;
}
.goods-nav li span.tb-tag.hot-tag:after {
    content: " ";
    width:10px;
    height: 12px;
    margin-right:2px;
    background: url("../img/hot-tag.png") no-repeat;
    display: inline-block;
}
.goods-nav .tb-tag a {
    color: #fff;
    font-size: 13px;
    font-weight:700;
}
.goods-nav li span a:hover {
    text-decoration: underline;
}
.goods-nav li i.service-arrow {
    position: absolute;
    right: 10px;
}
.service-float {
    display: none;
    padding-left: 18px;
    background-color: #fff;
    color: #000;
    width:692px;
    height:518px;
    border: 2px solid #f94a14;
    position: absolute;
    top:0;
    left:190px;
    z-index: 10001;
}
.goods-nav li:hover .service-float {
    display: block;
}
.service-links {
    width:427px;
    height:475px;
    padding-top:25px;
    float: left;
}
.service-panel a {
    font-weight:normal;
    color: #666;
    text-decoration: none;
}
.service-panel a:hover {
    color: #f40;
    text-decoration: none;
}
.service-panel h5 {
    height:28px;
    border-bottom: 1px solid #e0e0e0;
}
.service-panel  .service-panel-title {
    font-weight:700;
    color: #666;
    /*background: url("../img/service-panel-head.jpg") no-repeat;*/
    /*padding-left: 30px;*/
    /*Because of the size of background-img is equal to this anchor,so this way can not show the whole
    28px image.*/
    font-size: 14px;
}
.service-panel-title span {
    vertical-align: top;
}
.service-panel-title img {
    width:28px;
}
.service-panel .service-more {
    margin-right:-6px;
    float: right;
    font-size: 12px;
}
.service-panel .service-more .tb-icon {
    position: relative;
    left: -4px;
    color: #3C3C3C;
    font-size: 10px;
}
.service-each-links {
    height: 94px;
    overflow: hidden;
    padding:8px 0;
    margin-bottom:22px;
    line-height:24px;
}
.service-each-links a {
    display: inline-block;
    font-size:12px;
    /*line-height:24px;*/
    /*Strange,compared with inherit line-height,Its own declaration
    has a different effect.*/
    color: #666;
    margin-right:12px;
    white-space:nowrap;
}
.service-each-links a:hover {
    color: #666;
}
.service-rcm {
    width:240px;
    height:479px;
    float: right;
    background-color: #f4f4f4;
    padding: 17px 0 22px 15px;
}
.service-rcm h3 {
    height:20px;
    font-size:14px;
    line-height:20px;
    text-align: center;
    position: relative;
    font-weight:700;
}
.service-rcm .sub-title {
    font-size:12px;
    font-weight:normal;
    line-height:18px;
    color: #999;
    text-align: center;
    margin-bottom:18px;
}
.service-rcm h3:before,.service-rcm h3:after {
    content: '';
    width:45px;
    border-top: 1px solid #e6e6e6;
    position: absolute;
    top: 50%;
}
.service-rcm h3:before {
    left: 33px;
}
.service-rcm h3:after {
    right:33px;
}
.service-rcm-list a {
    display: inline-block;
    width:110px;
    height:110px;
    float: left;
    position: relative;
    margin: 0 8px 30px 0;
    vertical-align: bottom;
}
.service-rcm-list img {
    width:110px;
}
.service-rcm-list span {
    background-color: rgba(255,255,255,0.8);
    width:100%;
    /*height: 24px;*/
    color: #666;
    text-align: center;
    font-size:12px;
    line-height:24px;
    position: absolute;
    left:0;
    bottom:0;
}
.goods-bottom-img img {
    vertical-align: top;
}

.main-right {
    width:990px;
    float: left;
    margin-top:-34px;
    margin-left:10px;
}
.main-right-left {
    float: left;
    width:520px;
}
.main-carousel {
    width:520px;
}
.carousel-wrapper {
    width:520px;
    height:280px;
    overflow: hidden;
    position: relative;
}
.carousel-item-wrapper {
    width:3640px;
    height:280px;
    position: absolute;
    top: 0;
    left: -520px;
    transition: left .2s ease-in;
}
.carousel-item-wrapper .carousel-item img {
    width:520px;
    height: 280px;
}
.carousel-item {
    float: left;
}
.carousel-index-mark {
    font-size:30px;
    color: purple;
    position: absolute;
    top: 0;
}
.carousel-control-wrapper {
    transition: all .2s;
}
.carousel-wrapper:hover button {
    display: block;
}
.carousel-control-wrapper button {
    transition: all .2s linear;
    display: none;
    width:24px;
    height:36px;
    line-height:36px;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
button#prev {
    left:0;
}
button#next {
    right:0;
}
.carousel-index-wrapper {
    width:65px;
    height:13px;
    overflow: hidden;
    position: absolute;
    bottom:15px;
    left:50%;
    margin-left: -33px;
}
.carousel-index-btn {
    width:9px;
    height:9px;
    float: left;
    margin:2px;
    background-color: #b7b7b7;
    border-radius: 50%;
    text-indent: -999em;
    cursor: pointer;
}
.active-carousel-index-btn {
    background-color: #f44103;
}

.sub-carousel {
    width:520px;
    background-color: #fff;
}
.tmall-hot-brand-title {
    background-color: #eee;
    height: 26px;
    line-height:36px;
    border-bottom: 2px solid #c12c26;
    position: relative;
}
.tmall-brand-title>span {
    color: #3C3C3C;
    background: url("../img/tmall-title-bg.gif") no-repeat;
    font-size:14px;
    font-weight:700;
    padding-left: 48px;
}
.tmall-hot-brand-title em {
    color: #666;
    font-size:12px;
    font-style: normal;
}
.tmall-brand-page-num {
    position: absolute;
    top:0;
    right:0;
}
.tmall-brand-page-num span {
    color: #c12c26;
}
.sub-carousel .carousel-wrapper {
    height:201px;
}
.carousel-item-wrapper .item-group {
    float: left;
    width:520px;
    height:280px;
}
.sub-carousel .item-group a {
    display: block;
    float: left;
    border-left:1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}
.sub-carousel .item-group img {
    vertical-align: bottom;
}
.sub-carousel .item-size-174-202 img {
    width:171px;
    /*Sacrifice width to reduce extra declaration below.I think it is worthy.*/
    height:201px;
}
/*.sub-carousel .item-size-174-101 {*/
    /*margin-left: -1px;*/
/*}*/
/*.sub-carousel .item-group a:nth-child(3n) {*/
/*margin-left:0;*/
/*}*/
.sub-carousel .item-size-174-101 img {
    width:173px;
    height:100px;
}
.sub-carousel .prev {
    left:0;
}
.sub-carousel .next {
    right: 0;
}

.main-right-middle {
    width:160px;
    height:511px;
    float: left;
    margin-left: 10px;
}
.today-hot h5 {
    padding-top: 12px;
    color: #a1a1a1;
}

.main-right-right {
    width:290px;
    height:598px;
    float: right;
    border-top: 1px solid #EAEAEA;
    position: relative;
}
.main-right-right>div {
    background-color: #fff;
}
.login-box {
    /*height:;*/
    background: #fff url("../img/login-bg.png") no-repeat;
    background-size: cover ;
    line-height:20px;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #EEE;
}
.login-avatar a {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: bottom;
}
.login-avatar img {
    width:60px;
}
.login-box p {
    font-weight:400;
}
.login-box p a {
    color: #f40;
}
.coin-icon {
    display: inline-block;
    width:16px;
    height:16px;
    background: url("../img/icons.png") 0 -882px no-repeat;
    margin-bottom:-3px;
}
.login-btn-group {
    height:32px;    /*cannot align???*/
    margin-top:5px;
}
.main-btn {
    background-color: #f40;
    color: #fff;
    font-size:14px;
    font-weight:700;
    text-align: center;
    padding: 4px 24px;
}
.main-btn:hover {
    background-color: #f22d00;
    color: #fff;
}
a.login-btn {
    padding: 4px 32px;
}
.register-btn {
    margin: 0 3px;
}
.notice-box {
    background-color: #fff;
    width:100%;
    height:100px;
    padding: 7px 0 4px 0;
    margin-top: 1px;
}
.notice-tab-group {
    margin: 0 8px 15px 8px;
}
.notice-tab {
    float: left;
    width:38px;
    text-align: center;
    line-height:24px;
    margin: 0 8px;
}
.active-notice-tab {
    font-weight:700;
    border-bottom: 2px solid #f40;
}
.notice-content-wrapper {
    margin: 0 10px;
}
.notice-content {
    display: none;
}
.active-notice-content {
    display: block;
}
.notice-item {
    line-height:25px;
    width:50%;
    float: left;
}
.highlight-notice-item a {
    color: #f40;
}
.headline-notice {
    width:260px;
}

.convenient-function-btn-wrapper {
    border-top: 1px solid #EAEAEA;
    margin-top: 1px;
}
.convenient-function-btn {
    height:67px;
    overflow: visible;  /*KEY POINT!
    Accompany with increasing the height of inner <a> ,The bottom border of this wrapper div can be hided.*/
    background-color: #fff;
    /*display: inline-block;*/
    /*Dib has unwanted effect,there will be some white-space between them.
    Search in stack overflow for detail.*/
    border: 1px solid #eee;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    /*It is better than the below,especially when we want to do some effect like
    "hover and change border".*/
    /*border-left:1px solid #eee;*/
    /*border-bottom:1px solid #eee;*/
    float: left;
    position: relative;
    /*z-index: 1;*/
}
.active-convenient-function-btn {
    border: 1px solid #f40;
    /*border-bottom-color: transparent;*/
    z-index:2;
}
.active-convenient-function-btn a {
    padding-bottom: 5px;
}
.convenient-function-btn a {
    background: white url("../img/icons.png") 24px 14px no-repeat;
    width:70px;
    /*height:69px;*/
    text-align: center;
    padding: 48px 0 4px 0;
    display: inline-block;
}
.function-btn-game a {
    background-position-y: -28px;
}
.function-btn-travel a {
    background-position-y: -71px;
}

.convenient-function-box-wrapper {
    /*display: none;*/
    position: absolute;
    top:350px;
    left:0;
    z-index:1;
}
.convenient-function-box {
    display: none;
    background-color: #fff;
    width:273px;
    height:150px;
    padding: 5px 0 0 15px;
    border: 1px solid #f40;
    position: absolute;
}
.phone-tab-group {
    height:26px;
    line-height:26px;
    margin-bottom: 4px;
}
.phone-tab-group a {
    padding: 3px 10px;
}
.phone-tab-group a.active-phone-tab {
    color: #f43000;
}
.phone-content-group {
    line-height:24px;
    position: relative;
}
.phone-input {
    width:228px;
    border: 1px solid #ccc;
}
.phone-input:hover {
    border-color: #aaa;
}
.phone-input label {
    display: inline-block;
    color: #6b6b6b;
    background-color: #f5f5f5;
    padding: 0 8px;
}
.phone-input input {
    width:165px;
    border: none;
}
/*http://stackoverflow.com/questions/3790935/can-i-hide-the-HTML5-number-input-s-spin-box*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.default-cursor {
    cursor: default;
}
.number-location {
    display: none;
    color: #999;
    position: absolute;
    top: 0;
    right: 70px;
}
.phone-number-history-wrapper {
    display: none;
    width:188px;
    background-color: #fff;
    position: absolute;
    top:26px;
    left:40px;
    border: 1px solid #eee;
    overflow: hidden;
}
.phone-number-history {
    cursor: pointer;
    width:100%;
    color: #000;
    font-size: 14px;
    font-weight:700;
    line-height:30px;
    border-bottom: 1px solid #eee;
    padding-left: 20px;
}
.phone-number-history:last-child {
    border-bottom: none;
}
.phone-number-history:hover {
    color: #f40;
    background-color: #FFECE5;
}
.phone-input .tb-icon {
    color: #CACACA;
    cursor: pointer;
    margin-right: 0;
}
.phone-input:hover .tb-icon {
    color: #6C6C6C;
}
.phone-price {
    line-height:16px;
    color: #666;
    margin: 6px 0;
}
.phone-face-value-wrapper {
    display: none;
    width:188px;
    background-color: #fff;
    position: absolute;
    top:52px;
    left:40px;
    border: 1px solid #eee;
    border-bottom:none;
    overflow: hidden;
}
.phone-face-value-option {
    cursor: pointer;
    float: left;
    width:88px;
    line-height:26px;
    padding-left: 5px;
    /*border-left: 1px solid #eee;*/
    border-bottom: 1px solid #eee;
}
.phone-face-value-option:nth-child(2n) {
    border-left: 1px solid #eee;
}
.phone-face-value-option:hover {
    color: #f40;
    background-color: #FFECE5;
}
.money-amount {
    font-weight:700;
}
.currency-symbol {
    color: #999;
}
.phone-calculated-price {
    color: #f60;
    font-weight:700;
}
.phone-submit span {
    color: #999;
}
.phone-submit span:hover {
    color: #999;
}
.phone-bill-form {
    display: none;
}
.charge-way input {
    vertical-align: text-top;
}