.main-screen-wrapper {
    width:100%;
    background-color: #f5f5f5;
}
.main-screen {
    width:1190px;
    margin: 0 auto;
}

.main-left {
    float: left;
    margin-top:-34px;
}
.main-site-nav {
    margin-bottom:11px;
    height:34px;
}
.main-site-nav ul {
    height:30px;
    font-weight:700;
    font-size: 14px;
    line-height:28px;
    color: #3C3C3C;
    float: left;
    margin-top:4px;
}
.main-site-nav ul.main-site-nav-highlight {
    font-size: 16px;
    color: #f40;
}
.main-site-nav ul.main-site-nav-highlight li {
    margin: 0 3px;
    padding: 0 4px;
}
.main-site-nav li:hover {
    background-color: #f40;
    border-radius: 13px;
    color: #fff;
}
.main-site-nav li {
    float: left;
    margin-left: 7px;
}
.main-site-nav ul li.main-site-nav-pipe {
    background-color: transparent;
    color: #ddd;
    line-height:27px;
    font-weight:normal;
    padding: 0;
    margin-left:6px;
}
.main-site-nav li a {
    color: inherit;
    display: block;
    padding: 0 5px;
}
.goods-nav {
    width:190px;
}
.goods-nav ul {
    position: relative;
}
.goods-nav li {
    color: #fff;
    width:170px;
    height:30px;
    line-height:30px;
    padding: 0 10px;
    background-color: #ff6537;
    transition: background-color .2s;
}
.goods-nav li:hover {
    background-color: #f94a14;
}
.goods-nav li:hover .service-arrow,.goods-nav li:hover>.tb-icon {
    color: #fff;
}
.goods-nav .tb-icon {
    font-size: 18px;
    color: #ff905b;
    margin-right:0;
    display: inline-block;
}
.goods-nav .tb-tag {
    display: inline-block;
    width:134px;
    height:27px;
    line-height:27px;
    vertical-align: top;
}
.goods-nav li span.tb-tag.hot-tag:after {
    content: " ";
    width:10px;
    height: 12px;
    margin-right:2px;
    background: url("../img/hot-tag.png") no-repeat;
    display: inline-block;
}
.goods-nav .tb-tag a {
    color: #fff;
    font-size: 13px;
    font-weight:700;
}
.goods-nav li span a:hover {
    text-decoration: underline;
}
.goods-nav li i.service-arrow {
    position: absolute;
    right: 10px;
}
.service-float {
    display: none;
    padding-left: 18px;
    background-color: #fff;
    color: #000;
    width:692px;
    height:518px;
    border: 2px solid #f94a14;
    position: absolute;
    top:0;
    left:190px;
}
.goods-nav li:hover .service-float {
    display: block;
}
.service-links {
    width:427px;
    height:475px;
    padding-top:25px;
    float: left;
}
.service-panel a {
    font-weight:normal;
    color: #666;
    text-decoration: none;
}
.service-panel a:hover {
    color: #f40;
    text-decoration: none;
}
.service-panel h5 {
    height:28px;
    border-bottom: 1px solid #e0e0e0;
}
.service-panel  .service-panel-title {
    font-weight:700;
    color: #666;
    /*background: url("../img/service-panel-head.jpg") no-repeat;*/
    /*padding-left: 30px;*/
    /*Because of the size of background-img is equal to this anchor,so this way can not show the whole
    28px image.*/
    font-size: 14px;
}
.service-panel-title span {
    vertical-align: top;
}
.service-panel-title img {
    width:28px;
}
.service-panel .service-more {
    margin-right:-6px;
    float: right;
    font-size: 12px;
}
.service-panel .service-more .tb-icon {
    position: relative;
    left: -4px;
    color: #3C3C3C;
    font-size: 10px;
}
.service-each-links {
    height: 94px;
    overflow: hidden;
    padding:8px 0;
    margin-bottom:22px;
    line-height:24px;
}
.service-each-links a {
    display: inline-block;
    font-size:12px;
    /*line-height:24px;*/
    /*Strange,compared with inherit line-height,Its own declaration
    has a different effect.*/
    color: #666;
    margin-right:12px;
    white-space:nowrap;
}
.service-each-links a:hover {
    color: #666;
}
.service-rcm {
    width:240px;
    height:479px;
    float: right;
    background-color: #f4f4f4;
    padding: 17px 0 22px 15px;
}
.service-rcm h3 {
    height:20px;
    font-size:14px;
    line-height:20px;
    text-align: center;
    position: relative;
    font-weight:700;
}
.service-rcm .sub-title {
    font-size:12px;
    font-weight:normal;
    line-height:18px;
    color: #999;
    text-align: center;
    margin-bottom:18px;
}
.service-rcm h3:before,.service-rcm h3:after {
    content: '';
    width:45px;
    border-top: 1px solid #e6e6e6;
    position: absolute;
    top: 50%;
}
.service-rcm h3:before {
    left: 33px;
}
.service-rcm h3:after {
    right:33px;
}
.service-rcm-list a {
    display: inline-block;
    width:110px;
    height:110px;
    float: left;
    position: relative;
    margin: 0 8px 30px 0;
    vertical-align: bottom;
}
.service-rcm-list img {
    width:110px;
}
.service-rcm-list span {
    background-color: rgba(255,255,255,0.8);
    width:100%;
    /*height: 24px;*/
    color: #666;
    text-align: center;
    font-size:12px;
    line-height:24px;
    position: absolute;
    left:0;
    bottom:0;
}

.main-right {
    float: left;
    margin-top:-34px;
    margin-left:10px;
}
.main-right-middle {
    float: left;
    width:520px;
}
.main-carousel {
    width:520px;
}
.carousel-wrapper {
    width:520px;
    height:280px;
    overflow: hidden;
    position: relative;
}
.carousel-item-wrapper {
    width:3640px;
    height:280px;
    position: absolute;
    top: 0;
    left: -520px;
    transition: left .2s ease-in;
}
.carousel-item-wrapper .carousel-item img {
    width:520px;
    height: 280px;
}
.carousel-item {
    float: left;
}
.carousel-index-mark {
    font-size:30px;
    color: purple;
    position: absolute;
    z-index:999;
    top: 0;
}
.carousel-control-wrapper {
    transition: all .2s;
}
.carousel-control-wrapper button {
    width:24px;
    height:36px;
    line-height:36px;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
button#prev {
    left:0;
}
button#next {
    right:0;
}
.carousel-index-wrapper {
    width:65px;
    height:13px;
    overflow: hidden;
    position: absolute;
    bottom:15px;
    left:50%;
    margin-left: -33px;
}
.carousel-index-btn {
    width:9px;
    height:9px;
    float: left;
    margin:2px;
    background-color: #b7b7b7;
    border-radius: 50%;
    text-indent: -999em;
    cursor: pointer;
}
.active-carousel-index-btn {
    background-color: #f44103;
}