table,tr,td,input {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    /*A hack used to let 100% height valid.*/
}
body {
    height: 100%;
    /*A hack used to let 100% height valid.*/
    -moz-user-select:none;
    margin: 0;
}
.container {
    width:474px;
    height:800px;
    margin: 0 auto;
    font: 25px/1 "microsoft yahei",sans-serif;
    color: black;
}
.outcome-window {
    width:100%;
    height:27.3%;
    background-color: rgb(32,32,32);
    position: relative;
}
.outcome-window p {
    cursor: default;
    width:90%;
    max-width: 90%;
    text-align: right;
    font-size: 120px;
    color: #fff;
    background-color: transparent;
    padding: 5% 5%;
    border: none;
    margin: 0;
    outline: none;
    position: absolute;
    bottom: 0;
}
table {
    width:100%;
    height:72.7%;
    background-color: rgb(202,202,205);
    border-collapse: collapse;
    border: 3px solid black;
}
table tr:first-child {
    background-color: rgb(190,190,190);
}
td {
    cursor: pointer;
    font-size: 50px;
    font-weight:lighter;
    width:25%;
    height: 20%;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}
.special-button td {
    font-size: 40px;
}
table td:last-child {
    font-size: 50px;
    color: white;
    background-color: rgb(249,137,16);
}
table td:last-child:active {
    background-color: rgb(229,117,0);
}
table td:active {
    background-color: rgb(181,181,181);
}
td.active-border {
    border: 3px solid black;
}
/*Responsive design:
Mainly about
1.the width and height of container
2.the font size*/
@media (max-width:800px ) {
    .container {
        width:100%;
        height:100%;
    }
    table td:last-child {
        font-size: 3.5em;
    }
    td {
        font-size: 2.5em;
    }
    .special-button td {
        font-size: 2em;
    }
}
@media (max-width: 500px) {
    .container {
        width:100%;
        height:100%;
    }
    table td:last-child {
        font-size: 1.5em;
    }
    td {
        font-size: 1.5em;
    }
    .special-button td {
        font-size: 1em;
    }
}