/*Default:*/
body {
    font: 14px/1 "microsoft yahei",Arial,Helvetica,sans-serif;
    background-color: #FAFAFA;
}
a {
    color: #000;
}
a:hover {
    color: #fff;
}
.icon {
    cursor: pointer;
}
.icon:hover {
    /*background-color: #eff0f1;*/
    /*color: black;*/
}
.icon:active {
    /*background-color: red;*/
    /*color: blue;*/
}
.clearfix:before,.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

/*Main:*/
.container {
    width:960px;
    height:320px;
    outline: 1px solid red;
    padding: 0 50px;
    margin: 50px auto;
}
.control-panel {
    width:65%;
    height:82%;
    float: left;
    padding: 3% 0;
    /*outline: 1px solid blue;*/
}
.song-title {
    font-size: 28px;
    margin: 20px 0;
}
.singer {
    font-size: 18px;
    margin-bottom: 30px;
}
.sub-control-bar {
    color: #929292;
    user-select: none;
}
.sub-control-wrapper .icon {
    margin-left: 20px;
}
.time-volume-wrapper {
    float: left;
}
.time-volume-wrapper i {
    font-style: normal;
}
.volume-btn {
    /*handle with the mouseover event.*/
    display: inline-block;
    width:165px;
    position: relative;
}
.volume-bar-wrapper {
    cursor: pointer;
    /*display: none;*/
    opacity: 0;
    position: absolute;
    top: 5px;
    left: 45px;
    width: 0;
    height:5px;
    background-color: #929292;
    transition: all .2s linear;
}
.showed-volume-bar {
    display: block;
    opacity: 1;
    width:100px;
}
.volume-bar {
    width:0;
    height:100%;
    background-color: #424242;
    transition: all .3s linear;
}
.showed-volume-bar .volume-bar {
    width:80px;
}
.sub-function-wrapper {
    float: right;
}
.volume-btn:hover .icon-yinliang {
    color: #000;
}
.sub-function-wrapper .icon {
    font-size: 20px;
}
.sub-function-wrapper .icon:hover {
    background-color: #eff0f1;
    color: #000;
}
#progress-bar {
    cursor: pointer;
    width:100%;
    background-color: #ddd;
    margin: 10px 0;
}
#past-progress-bar {
    width:70%;
    height:5px;
    background-color: green;
}

.main-control-wrapper {
    margin-top: 60px;
    user-select: none;
}
.main-control-wrapper .icon {
    font-size: 42px;
    margin-left: 40px;
}
.icon-aixin-loved {
    color: red;
}
.like-discard-wrapper span:first-child .icon {
    margin-left:0;
}
.like-discard-wrapper {
    float: left;
}
.play-control-wrapper {
    float: right;
}


.album-cover-wrapper{
    width:35%;
    height:100%;
    float: right;
}
.album-cover img {
    width:280px;
    height:280px;
    /*background-color: black;*/
    margin: 20px 40px;
    border-radius: 50%;
    animation: endlessRotation 8s linear infinite;
}

.audio-wrapper {
    /*display: none;*/
}

@keyframes endlessRotation {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}