<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>07.list rendering</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<ul id="example-1">
    <li v-for="item in items">
        {{ item.msg }}
    </li>
</ul>

<ul class="app-2">
    <li v-for="(item,index) in items">
        {{parentMsg}}--{{index}}--{{item.msg}}
    </li>
</ul>

<ul class="repeat-object">
    <li v-for="(value,index,key) in object">
        {{value}},{{index}},{{key}}
    </li>
</ul>

<div class="int-iteration">
    <div v-for="n in 5">{{ n }}</div>
</div>

<ul class="app-3">
    <li v-for="n in evenNumbers">{{n}}</li>
</ul>

<ul class="app-4">
    <li v-for="n in even(numbers)">{{n}}</li>
</ul>

<script>
    var app1=new Vue({
        el:'#example-1',
        data: {
            items: [
                {msg:"apple"},
                {msg:"pear"},
                {msg:"grape"}
            ]
        }
    });

    new Vue({
        el: ".app-2",
        data: {
            parentMsg:"fruit: ",
            items: [
                {msg:"apple"},
                {msg:"pear"},
                {msg:"grape"}
            ]
        }
    });

    var repeatObject=new Vue ({
        el: ".repeat-object",
        data: {
            object: {
                day: "11",
                month:"Feb",
                year:2017
            }
        }
    });

    var intIteration=new Vue({
        el:'.int-iteration',
        data: {
//            n:2
            //have no effect.
        }
    });

    var app3=new Vue ({
        el: ".app-3",
        data: {
            numbers: [1,2,3,4,5,6,7]
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (n) {
                    return n%2===0
                })
            }
        }
    });

    var app4=new Vue ({
        el: ".app-4",
        data: {
            numbers: [10,11,12,13,14,15]
        },
        methods: {
            even: function (numbers) {
                return numbers.filter(function (n) {
                    return n%2!=0
                })
            }
        }
    })
</script>
</body>
</html>