<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-essentials-review-2</title>
    <script src="src/vue.js"></script>
    <style>
        .Active {
            color: #5cb85c;
        }
        .Error {
            color: #d9534f;
        }
    </style>
</head>
<body>
<div id="app1">
    <p v-bind:class="{Active:isActive,Error:hasError}">v-bind:class="{Active:isActive,Error:hasError}"</p>
    <button @click="changeState">Click to change state!</button>
    <p v-bind:class="[isActiveArr,hasErrorArr]">v-bind:class="[isActiveArr,hasErrorArr]"</p>
    <p v-bind:class="classObj">v-bind:class="classObj"</p>
    <hr>

    <p v-bind:style="[styleObj,styleArrEle]">数组语法可以将多个样式对象应用到一个元素上：v-bind="[styleObj,styleArrEle]"</p>
    <hr>

    <template v-if="ok">
        <h4>template v-if="ok"</h4>
        <p>BTW,I am a whole template</p>
        <p>v-if是真实的条件渲染，当进行条件切换时，它会销毁和重建条件块的内容，并且它支持template语法；</p>
    </template>
    <p v-else>else,you will see me.</p>
    <button @click="okOrNot">okOrNot</button>
    <hr>

    <p v-show="show">v-show="show",v-show的条件切换时基于css的display属性，所以不会销毁和重建条件块的内容；</p>
    <button @click="showOrHide">showOrHide</button>
    <hr>

    <ol>
        <li v-for="(val,key,index) in listObj">
            listObj[{{index}}] = {{key}} : {{val}}
        </li>
    </ol>
    <p>v-for指令能够让我们循环渲染列表型数据（数组，对象），数据放在data对象中。</p>
    <hr>
    
    <div>
        <span v-for="n in 10">{{n+' '}}</span>
        <br>
        <span>evenNumbers : </span><span v-for="n in evenNumbers">{{n+' '}}</span>
    </div>
    <hr>

    <p v-on:click="counter+=1">点我加一：{{counter}}</p>
    <div v-on:click.prevent="greet">1</div>//等价于event.preventDefault()
    <div v-on:click.stop="greet">2</div>//等价于event.stopPropagation()
    <div v-on:click.capture="greet">
        //等价于事件回调函数采用捕获阶段监听事件
    </div>
    <div v-on:click.self="greet">
         只当事件在该元素本身（而不是子元素）触发时触发回调
        //等价于event.target
    </div>
    <form v-on:submit.prevent="onSubmit">
         <p>提交事件不再重载页面</p>
        <!-- 只有在 keyCode 是 13 时调用 vm.submit() -->
        <label for="keyup13">keyup.13</label>
        <input id="keyup13" v-on:keyup.13="submit">
        <p>记住所有的 keyCode 比较困难，所以 Vue 为最常用的按键提供了别名：</p>
        <label for="keyupEnter">keyupEnter</label>
        <input id="keyupEnter" v-on:keyup.enter="submit">
        <!-- 缩写语法 -->
        <label for="@keyupEnter">@keyupEnter</label>
        <input id="@keyupEnter" @keyup.enter="submit">
    </form>
    <a v-on:click.stop.prevent="doThat">
        v-on:click.stop.prevent="doThat",
         修饰符可以串联
    </a>
    <a v-on:click.once="doThis">
        v-on:click.once="doThis"
         点击事件将只会触发一次
    </a>
    <!--在事件处理程序中调用 event.preventDefault() 或 event.stopPropagation() 是非常常见的需求。
    尽管我们可以在 methods 中轻松实现这点，但更好的方式是：methods 只有纯粹的数据逻辑，而不是去处理 DOM 事件细节。
    为了解决这个问题， Vue.js 为 v-on 提供了事件修饰符。通过由点(.)表示的指令后缀来调用修饰符。-->
    <hr>

    <p>{{msg}}</p>
    <p>Bind with msg:<input type="text" v-model="msg"></p>
    <p>
        通过v-model指令可以实现数据的双向绑定，
        即View层的数据变化可以直接改变Model层的数据，而Model层的数据改变也可以直接反映在View层；
        上述代码v-model="message"使得input的value属性和message属性绑定，在输入框输入值，即改变value同时也改变message；
    </p>

    <label for="man">
        <input id="man" value="man" type="radio" v-model='picked'>
        Man
    </label>
    <br>
    <label for="woman">
        <input id="woman" value="woman" type="radio" v-model='picked'>
        Woman
    </label>
    <div style="margin-left:10px">You have picked: { {{picked}} }</div>
    
    <p>
        check box:
        需要同时有 v-model="checkedOptions" value="red"
    </p>
    <label for="checkColorRed">checkColorRed:</label>
    <input type="checkbox" id="checkColorRed" v-model="checkedOptions" value="red">
    <label for="checkColorBlue">checkColorBlue:</label>
    <input type="checkbox" id="checkColorBlue" v-model="checkedOptions" value="blue">
    <label for="checkColorGreen">checkColorGreen:</label>
    <input type="checkbox" id="checkColorGreen" v-model="checkedOptions" value="green">
    <p>You have selected: {{checkedOptions}}</p>

</div>

<script>
    var app1=new Vue ({
        el: '#app1',
        data: {
            checkedOptions:[],
            picked:'man',
            msg:'I am msg!',
            classObj: {
                Active:true,
                Error:true
            },
            isActive:true,
            hasError:false,
            /*你也可以通过传递数组的方式为class赋值v-bind:class="[staticClass,activeClass,errorClass]"，
            此时你要在data对象上为数组的元素的属性赋值：*/
            isActiveArr:'Active',
            hasErrorArr:'Error',
            styleObj:{
                fontSize: '32px',
                fontWeight:'bold'
            },
            styleArrEle:{
                background:'blue'
            },
            ok: true,
            show: true,
            listObj: {
                one: 'one',
                two: 'two',
                three: 'three'
            },
            numbers:[1,2,3,4,5,6,7,8,9,0],
            counter:1
        },
        methods: {
            changeState: function () {
                this.isActive=this.isActive?false:true;
                this.hasError=this.hasError?false:true;
            },
            showOrHide: function () {
                this.show=this.show?false:true;
            },
            okOrNot:function () {
                this.ok=this.ok?false:true;
            }
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (v) {
                    return v%2===0;
                })
            }
        }
    })
</script>
</body>
</html>