/*Default:*/
html,body {
    height: 100%;
}
body {
    font: 14px/1 "microsoft yahei",Arial,Helvetica,sans-serif;
    background-color: #FAFAFA;
}
a {
    color: #000;
}
a:hover {
    color: #fff;
}
.icon {
    cursor: pointer;
}
.icon:hover {
    /*background-color: #eff0f1;*/
    /*color: black;*/
}
.icon:active {
    /*background-color: red;*/
    /*color: blue;*/
}
.clearfix:before,.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

/*Main:*/
.container {
    max-width: 375px;
    width:92%;
    height:100%;
    /*outline: 1px solid #00ff80;*/
    padding: 0 4%;
    margin: 0 auto;
    /*overflow: hidden;*/
}
.control-panel {
    width:100%;
}
.song-info {
    text-align: center;
    margin: 10px 0;
}
.song-title {
    font-size: 24px;
    line-height:28px;
}
.singer {
    font-size: 14px;
    line-height: 18px;
}
.sub-control-bar {
    color: #929292;
    user-select: none;
}
.sub-control-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time-volume-wrapper,.sub-function-wrapper {
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.time-volume-wrapper i {
    font-style: normal;
}
.volume-btn {
    /*handle with the mouseover event.*/
    position: relative;
}
.volume-bar-wrapper {
    cursor: pointer;
    /*display: none;*/
    opacity: 0;
    position: absolute;
    top: 5px;
    left: 24px;
    width: 0;
    height:5px;
    background-color: #929292;
    transition: all .2s linear;
}
.showed-volume-bar {
    display: block;
    opacity: 1;
    width:60px;
}
.volume-bar {
    width:0;
    height:100%;
    background-color: #424242;
    transition: all .3s linear;
}
.showed-volume-bar .volume-bar {
    width:80px;
}
.volume-btn:hover .icon-yinliang {
    color: #000;
}
.sub-function-wrapper .icon {
    font-size: 20px;
}
.sub-function-wrapper .icon:hover {
    background-color: #eff0f1;
    color: #000;
}
#progress-bar {
    cursor: pointer;
    width:100%;
    background-color: #ddd;
    margin: 10px 0;
}
#past-progress-bar {
    width:0%;
    height:5px;
    background-color: green;
}

.main-control-wrapper {
    margin-top: 8%;
    user-select: none;
    display: flex;
    justify-content: space-between;
}
.main-control-wrapper .icon {
    font-size: 42px;
    /*margin-left: 40px;*/
}
.icon-aixin {
    width:42px;
}
.icon-aixin-loved {
    color: red;
}
.icon-laji2:active {
    color: #ddd;
}
.like-discard-wrapper span:first-child .icon {
    margin-left:0;
}
.like-discard-wrapper, .play-control-wrapper {
    display: flex;
    justify-content: space-between;
}
.like-discard-wrapper i:nth-child(2), .play-control-wrapper  i:nth-child(2) {
    margin-left: 20px;
}


.album-cover-wrapper{
    width:100%;
    display: flex;
    justify-content: center;
    padding: 2.5% 0;
    overflow: hidden;
}
.album-cover {
    background: url("../img/album-cover/cover-1.jpg") no-repeat;
    background-size: cover;
    width:198px;
    height:198px;
    border: 1px solid #eee;
    border-radius: 50%;
    animation: roundRotation 10s linear infinite;
    animation-play-state: paused;
}

.audio-wrapper {
    /*hide the audio ele*/
    display: none;
    position: absolute;
    left:-999em;
}

@keyframes roundRotation {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@media screen and (min-width: 360px) {
    .album-cover {
        width:248px;
        height:248px;
    }
}
@media screen and (min-width: 414px) {
    .album-cover {
        width:298px;
        height:298px;
    }
}