/*reset*/
* {
    padding: 0;
    border: none;
    margin: 0;
}
li {
    list-style:none;
}

/*default*/
body {
    font: 12px/1 "microsoft yahei",sans-serif;
}
a {
    color: #000;
}
.clearfix:before,.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
a {
    text-decoration: none;
}

/*main*/
.header {
    width:960px;
    text-align: center;
    margin: 50px auto 0 auto;
}
.header h1 {
    font-size: 38px;
}
.header p {
    font-size: 18px;
    margin: 20px 0;
}
.btn {
    font-size: 16px;
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    margin: 20px;
    border-radius: 5px;
}
.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-primary {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.container {
    width:960px;
    padding: 2.5%;
    margin: 0 auto;
    background-color: #206082;
}
.row {
    width:100%;
    background-color: #38b1b7;
    margin-bottom:20px;
}
.item {
    position: relative;
    float: left;
    width:200px;
    height:200px;
    margin: 10px 0 10px 32px;
    outline: 1px solid #ddd;
}
.item a {
    display: inline-block;
    width:100%;
    height:100%;
}
.item img {
    width:100%;
    height:100%;
}
.item div {
    width:100%;
    height:80%;
    text-align: center;
    font-size: 32px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item h3 {
    position: absolute;
    bottom: 0;
    width:100%;
    height:20%;
    font-size: 16px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.last-update {
    color: #ddd;
    padding: 2.5%;
}

/*media query*/
@media (min-width:300px) and (max-width: 473px) {
    .header {
        width:100%;
    }
    .container {
        width:95%;
        padding:2.5%;
    }
    .item {
        float: none;
        margin: 5% auto;
    }
}
@media (min-width:474px) and (max-width: 960px) {
    .header {
        width:100%;
    }
    .container {
        width:95%;
        padding:2.5%;
    }
    .item {
        float: left;
        width:45%;
        height: 320px;
        margin: 2.5%;
    }
}